.top-block h2 {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 34px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin: 40px 139px 24px 16px;
}

.contact .left-column {
    margin-top: -8px;
}

.top-block {
    border: 1px solid #121212;
}

.top-block h2 {
    margin: 40px 0px 24px 16px;
}

.form-block {
    margin-bottom: -20px;
}

.right-column img {
    width: 100%;
}

.column1 h3 {
    margin: 8px 283px 8px 16px;
    padding: 30px 0px;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
}


.add h3 {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;

}
.phone {
    display: flex;
    gap: 10px;
}


.phone-no {
    border: 1px solid #121212;
    padding: 20px 0px;
}

.phone p {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 2.5%;
    vertical-align: middle;

}

.column2 h3 {
    margin: 40px 264px 40px 16px;
}

.column2 p {
    margin: 40px 16px 0px 16px;
}

.location p {
        font-family: Gilroy;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;

}

.loc {
    display: flex;
    margin: 0px 16px;
    gap: 10px;
}

.loc p {
    margin: 20px 0px;
}
.loc img {
    margin: 20px 0px;
}
.add {
    border: 1px solid #121212;
}

.follow-ic {
    display: flex;
    gap: 20px;
    margin: 40px 16px 40px 8px;
}

.follow-ic img {
    width: 30px;
}

.followh3 {
    margin: 20px 16px 40px 8px;

}

.followh3 h3 {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;

}

.followa {
    margin: 0px;
}

.remember-text {
    border: 1px solid #121212;
}

.contact-footer {
    border: 1px solid #121212;
}

.bottom-block-1440 {
    display: none;
}

@media (min-width: 768px) {
        .left-column {
            padding: 0px;
        }
                
        .followh3 {
            margin: 2.5rem;
            width: 100%;

        }

        .follow-ic {
            margin: 2.5rem;
            width: 100%;
            gap: 10px
        }

        .follow-ic img {
            width: 2rem;
            height: 100px;
        }



        .followh3{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .top-block h2 {
            margin-left: 3rem;
        }

        .form-block form {
            margin: 2.5rem;
        }

        .column1 h3 {
            margin: 2.5rem;
            margin-left: 4rem;
        }
        .phone {
            padding: 0px;
        }

        .phone p {
            font-size: 1.2rem;
            margin-left: 3rem;
        }
        .phone img {
            margin-left: 3rem;
        }

        .column1-wrapper {
            display: flex;
        }

        .followa {
            display: flex;
            justify-content: space-evenly;
            padding: 0px 0px 7px 0px;
        }

        .follow-vl {
            border: 1px solid #121212;
        }

        .column1-vl {
            border: 1px solid #121212;
        }

        .phone-no {
            padding: 0px;
            border: none;
            width: 100%;
            border-right: 1px solid #121212;
        }
        .column1 {
            width: 100%;
        }

        .column2 {
            display: flex;
        }

        .add {
            margin: 0px;
            width: 100%;
            border-bottom: none ;
        }

        .location p{
            font-size: 0.8rem;
            padding-left: 16px;
        }
        .loc {
            margin: 0px;
            width: 100%;
            padding-left: 16px;
        }

        .loc img {
            margin-left: 16px;
        }

        .location {
            width: 100%;
            border: 1px solid #121212;
            border-bottom: none;
        }

        .add h3 {
            margin: 3.5rem;
        }

        .contact-block {
            display: flex;
            margin-top: 40px;
            gap: 40px;
        }
        .bottom-block-1440 {
            display: none;
        }


        
}

@media (min-width: 1024px) {
    .contact {
        display: grid;
        grid-template-columns:  1fr 1fr;
    }
    .bottom-block {
        display: none ;
    }
   

    .right-column {
        grid-column: 2;
        grid-row: 1;
    }

    .left-column {
        grid-column: 1;
    }

    .column2 {
        display: none;
    }

    .top-block {
        margin-top: 5px;
    }

    .top-block h2 {
        font-size: 2.5rem;
    }

    .top-block label {
        font-size: 25px;
    }
    .contact-block {
        height: 8rem;
    }

    .contact-block button {
        height: 70%;
    }
    .contact-block input {
        height: 70%;
    }

    .bottom-block h3 {
        font-size: 1.6rem;
    }

    .bottom-block-1440 {
        display: block;
    }
    .follow-ic img {
        margin-top: 50px;
    }
    .follow-vl {
        height: 295px;
        margin-bottom: -20px;
    }
    .phone-address-block {
        display: flex;
    }
    .phoneno-address-block {
        display: flex;
        border: 1px solid #121212;
        border-bottom: none;

    }
    .phone-d {
        border: 1px solid #121212;
        width: 100%;
        height: 100px;
    }
    .address-d {
        border: 1px solid #121212;
        width: 100%;
        height: 100px;
    }

    .phone-no {
        border: 1px solid #121212;
        width: 100%;
    }

    .phone {
        margin-left: 0px;
    }

    .phone-no p {
        margin-right: 0px;
    }
    .address-no {
        width: 100%;
    }
    .phone p{
        font-family: Gilroy;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 120%;
        letter-spacing: 2.5%;
        vertical-align: middle;
        margin-left: 0px;
        margin-top: 4.5rem;
    }

    .phone img {
        margin-top: 3rem;
    }

    .address-no p {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 17px;
        line-height: 120%;
        letter-spacing: 0%;
        vertical-align: middle;
        text-transform: uppercase;
        margin-top: 6rem;
        
    }

    .address-no img {
        margin-top: 5.5rem;
    }

    .phone-d h3, .address-d h3 {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 38px;
        line-height: 120%;
        letter-spacing: 0%;
        vertical-align: middle;
        text-align: center;
        margin-top: 20px;
    }
    

}

@media (min-width: 1440px) {
    .follow-vl {
        height: 240px;
    }

    .bottom-block-1440 {
        display: block;
    }

    .phone-address-block {
        display: flex;
    }
    .phoneno-address-block {
        display: flex;
        border: 1px solid #121212;
        height: 440px;
        border-bottom: none;

    }
    .phone-d {
        border: 1px solid #121212;
        width: 100%;
        height: 100px;
    }
    .address-d {
        border: 1px solid #121212;
        width: 100%;
        height: 100px;
    }

    .phone-no {
        border: 1px solid #121212;
        width: 100%;

    }
    .address-no {
        width: 100%;
    }
    .phone p{
        font-family: Gilroy;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 120%;
        letter-spacing: 2.5%;
        vertical-align: middle;
        margin-left: 0px;
        margin-top: 4.5rem;
    }

    .phone img {
        margin-top: 3rem;
    }

    .address-no p {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 17px;
        line-height: 120%;
        letter-spacing: 0%;
        vertical-align: middle;
        text-transform: uppercase;
        margin-top: 6rem;
        
    }

    .address-no img {
        margin-top: 5.5rem;
    }

    .phone-d h3, .address-d h3 {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 38px;
        line-height: 120%;
        letter-spacing: 0%;
        vertical-align: middle;
        text-align: center;
        margin-top: 20px;
    }
}