.kyiv-text p {
    font-family: Gilroy;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    vertical-align: middle;
    margin: 16px 16px 24px 16px;


}

.kyiv-text h1 {
    vertical-align: middle;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    margin: 40px 16px;

}

.vl {
    border: 1px solid #121212;
    height: 140px;
    padding-top: 40px;
    margin-top: 15px;
    
}

.hl {
    border: 1px solid #121212;
    width: 343px;
    margin: 0 auto;
}


.kyiv-contents {
    display: flex;
}

.rect {
    margin: 16px 16px 20px 0px;
    width: 100%;
}

.kyiv-p {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-top: 1px solid black;
    border-left: 1px solid black;
    margin-right: 16px;    
}

.kyiv-p p{
    font-family: Gilroy;
    font-weight: 400;
    font-size: 11px;
    line-height: 120%;
    vertical-align: middle;
}

.left-column {
    border: 1px solid #121212;
}

.kyiv-img {
    border-top: 1px solid black;
    margin-left: 16px;
    width: 100%;
    
}

@media (min-width: 768px) {
    .left-column{
        padding: 2.5rem;
    }

    .left-column h1, p {
        font-size: 3rem;
    }

    .kyiv-p p {
        font-size: 1.1rem;
    }

    .rect {
    }


}