html, body, #root {
  height: 100%;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/Fonts/Gilroy-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/Fonts/Gilroy-Bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/Fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-style: normal;
}