*{
    margin: 0;
    padding: 0;
}

.header-icons {
    display: flex;
    justify-content: space-between;
    border: 1px solid #121212;
}

.header-ic {
    border: 1px solid #121212;
    width: 10%;
}

.ham {
    padding: 5px 0px;
    text-align: center;
    font-size: 1.1rem;
    border-right: 2px solid #121212 ;
}

.shopbag {
    border-left: 2px solid #121212 ;
    padding-top: 5px;
    text-align: center;
    font-size: 1.1rem;
}

